<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    </meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    </meta>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    </meta>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->


    <title>Define Functional Model</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"
          th:href="@{/resources/css/bootstrap.min.css}">
    </link>
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css"
          th:href="@{/resources/css/bootstrap-theme.min.css}" rel="stylesheet">
    </link>
    <link rel="stylesheet" href="css/bootstrap.vertical-tabs.css"
          th:href="@{/resources/css/bootstrap.vertical-tabs.css}">
    </link>

    <!-- Custom styles for this template -->
    <link href="css/theme1.css" th:href="@{/resources/css/theme1.css}"
          rel="stylesheet">
    </link>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>


    <script type="text/javascript" th:inline="javascript">
	var popUpObj;

	function showModalPopUp()

	{

		LoadModalDiv();

	}

	function showModalPopUp1(param3, param4, param5, param6, s1)

	{

		LoadModalDiv1(param3, param4, param5, param6, s1);

	}

	function LoadModalDiv()

	{

		var bcgDiv = document.getElementById("addDataGroupToModel");

		bcgDiv.style.display = "block";

	}

	function LoadModalDiv1(param3, param4, param5, param6, s1)

	{

		var bcgDiv = document.getElementById("chooseAttributes");

		bcgDiv.style.display = "block";

		document.getElementById("datagroupid").innerHTML = param3;
		
		document.getElementById("datafielddiv").innerHTML = param6;
		
	//	document.getElementById("datalist1").innerHTML = s1;

		document.getElementById("grade").value = param4;

		document.getElementById("notes").value = param5;

	}

	function HideModalDiv()

	{

		var bcgDiv = document.getElementById("addDataGroupToModel");

		bcgDiv.style.display = "none";

	}

	function HideModalDiv1()

	{

		var bcgDiv = document.getElementById("chooseAttributes");

		bcgDiv.style.display = "none";

	}








    </script>


    <script type="text/javascript" th:inline="javascript">
	function clickFunc(name) {

		var ctx = document.getElementById("functionalprocessname").value;

		if (ctx == '' || ctx == null) {
			alert("Name is mandatory");
			return false;
		}

		var note = document.getElementById("functionalprocessnotes").value;

		if (note == '' || note == null) {
			alert("Notes is mandatory");
			return false;
		}

		document.getElementById("option").value = name;

		document.functionalprocessform.action = "/create-new-functional-process";

		document.functionalprocessform.submit();

	}

	function popupClick(name) {

		document.getElementById("option").value = name;

		var name = document.functionalmodelform.datagroupname1.value;

		document.functionalmodelform.action = "/create-new-functional-model?datagroupname="
				+ name;
		document.functionalmodelform.submit();

	}

	function popupClick1(name) {

		document.getElementById("option").value = name;

		document.functionalmodelform.action = "/create-new-functional-model";
		document.functionalmodelform.submit();

	}

	function getFunctionalModelData(processId) {

		document.functionalmodelform.method = "post";
		document.functionalmodelform.action = "/define-functional-model?p="+ProcessId;
		document.functionalmodelform.submit();
	}

	function call(process) {
		//showModalPopUp();

        document.functionalmodelform.action = "/add-datagroup-and-attributes?p=" + process;
        document.functionalmodelform.submit();
	}

	function getGrade(param1, param2, param3, param4, param5, param8, param9) {
		document.getElementById("functionalsubprocessid").value = param1;

		document.getElementById("datagroupname").value = param3;

		document.getElementById("functionalmodelid").value = param2;

		var datafieldlist = [[${datafieldlist}]];
		
		var i = datafieldlist.length;
		
		var j = 0;
		
		var param6 = '';
		
	//	print_r(datafieldlist);
		
		var s1 = '';
	
		for(var p in datafieldlist){ 
		
			if (datafieldlist[p].dataGroupId == param8)
				{					
				    if (param9.indexOf(datafieldlist[p].dataFieldId) == -1)
				    	{
					s1 = s1 + '<li><div class="checkbox"><label><input type="checkbox" value="';
					s1 = s1 + datafieldlist[p].dataFieldId;
					s1 = s1 + '" name="datafields">';
					s1 = s1 + datafieldlist[p].name; 
					s1 = s1 + '</input></label></div></li>';
				    	}
				    else
				    	{
				    	s1 = s1 + '<li><div class="checkbox"><label><input type="checkbox" value="';
						s1 = s1 + datafieldlist[p].dataFieldId;
						s1 = s1 + '" checked="true" name="datafields">';
						s1 = s1 + datafieldlist[p].name; 
						s1 = s1 + '</input></label></div></li>';
				    	}
					
				}
		
 
         }

        alert("s1=" + s1);
		showModalPopUp1(param3, param4, param5, param6, s1);

	}

	function openMyWindow(datagroup, subprocess, process)
	{
	    alert("I am opening something" + datagroup + "::" + subprocess);

        document.functionalmodelform.action = "/select-data-attributes?dg=" + datagroup + "\u0026sp=" + subprocess + "\u0026p=" + process;
        document.functionalmodelform.submit();
	}
	
	/*
	
	function addToCheckBoxListControl(textValue, valueValue)
	{
	 var tableRef = document.getElementById("test");
	 
	 var tableRow = tableRef.insertRow();
	 var tableCell = tableRow.insertCell();
	 
	 var checkBoxRef = document.createElement('input');
	 var labelRef = document.createElement('label');
	 
	 checkBoxRef.type = 'checkbox';
	 labelRef.innerHTML = textValue;
	 checkBoxRef.value = valueValue;
	 
	 tableCell.appendChild(checkBoxRef);
	 tableCell.appendChild(labelRef);
	}
	
	*/
	//this is just a helper function I think?
	function print_r(theObj){ 
	       if(theObj.constructor == Array || theObj.constructor == Object){ 
	          document.write("<ul>");
	          for(var p in theObj){ 
	             if(theObj[p].constructor == Array || theObj[p].constructor == Object){ 
	                document.write("<li>["+p+"] => "+typeof(theObj)+"</li>"); 
	                document.write("<ul>");
	                print_r(theObj[p]); 
	                document.write("</ul>") 
	             } else { 
	                document.write("<li>["+p+"] => "+theObj[p]+"</li>"); 
	                document.write("<li>["+p+"] => "+theObj[p].dataGroupId+"</li>");
	             } 
	          } 
	          document.write("</ul>") 
	       } 
	    } 
	








    </script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body role="document">

<form name="functionalmodelform" method="post" class="form-horizontal">
    <div class="container">

        <p style="color: red" th:text="*{err != null} ? ${err} : ''"></p>

        <div class="row">
            <div class="col-md-12">
                <h1>Define Functional Model</h1>
            </div>
        </div>

    </div>
    <div class="container">

        <div class="row">
            <div class="col-sm-12">

                <div style="border: #395e8a 1px solid">
                    <div class="col-xs-4" style="padding-right: 0">
                        <!-- required for floating -->
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs tabs-left" th:each="fp : ${sizingCtx.getAllProcesses()}">
                            <li th:class="${param.p !=null ? (#numbers.formatInteger(fp.id,1) == #numbers.formatInteger(param.p[0],1) ? 'active': '') : ''}">
                                <a th:href="${'define-functional-model?p=' + fp.id}" data-toggle="tab" th:text="${fp.name}" th:onclick="'javascript:getFunctionalModelData(\'' +${fp.id} + '\');'"></a>
                            </li>
                        </ul>
                    </div>

                    <input type="hidden" id="option" name="option"> </input> <input type="hidden" id="functionalsubprocessid" name="functionalsubprocessid"> </input>
                    <input type="hidden" id="datagroupname" name="datagroupname"> </input>
                    <input type="hidden" id="functionalmodelid" name="functionalmodelid"> </input>

                    <div class="col-xs-8 bluebg">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="data1" style="">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <div th:each="row,iter : ${sizingCtx.getDataToSubProcessMappingAsGrid(#numbers.formatInteger(param.p[0],1))}">
                                            <div th:if="${iter.first}">
                                                <thead>
                                                <tr>
                                                    <th width="40%" th:each="col, colIter : ${row}">
                                                        <div th:text="${row[colIter.index]}"></div>
                                                    </th>
                                                    <th>
                                                        <button type="button" class="btn btn-default"
                                                                th:onclick="'javascript:call('+ ${#numbers.formatInteger(param.p[0],1)} + ');'">
                                                            +
                                                        </button>
                                                    </th>
                                                </tr>
                                                </thead>
                                            </div>
                                            <tbody>
                                            <div th:if="${!iter.first}">

                                                <tr>
                                                    <th width="40%" th:each="col, colIter : ${row}">
                                                        <div th:if="${colIter.first}" th:text="${row[colIter.index]}"></div>
                                                        <div th:if="${!colIter.first}" th:text="${row[colIter.index].type}" th:onclick="'javascript:openMyWindow( ' + ${row[colIter.index].dataGroup.id} + ',' + ${row[colIter.index].subProcess.id} + ','+ ${row[colIter.index].process.id} + ');'"></div>
                                                    </th>
                                                </tr>

                                            </div>
                                            </tbody>

                                        </div>

                                        <!-- please take m -->

                                        <!--<tr th:each="sp : ${sizingCtx.getProcess(param.p[0]).steps}">-->
                                        <!--<td th:text="${sp.name}"></td>-->


                                        <!--&lt;!&ndash;<td th:each="functionalmodel : ${functionalsubprocess.functionalModel}"&ndash;&gt;-->
                                        <!--&lt;!&ndash;th:onclick="'javascript:openMyWindow( ' + ${functionalmodel.dataGroupId} + ',' + ${functionalsubprocess.functionalSubProcessId} + ','+ ${functionalmodel.functionalProcessId} + ');'"&ndash;&gt;-->
                                        <!--&lt;!&ndash;th:text="*{functionalmodel.grade != null} ? ${functionalmodel.grade} : ' '">&ndash;&gt;-->
                                        <!--&lt;!&ndash;</td>&ndash;&gt;-->

                                        <!--</tr>-->
                                        <!--<tr>-->
                                        <!--<td th:text="${finalScore}"></td>-->
                                        <!--<td th:each="score : ${scores}" th:text="${score.score}"></td>-->
                                        <!--</tr>-->

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>

            </div>

            `
        </div>

    </div>
    <!-- /container -->

</form>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
