<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    </meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    </meta>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    </meta>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->


    <title>Define Functional Model</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"
          th:href="@{/resources/css/bootstrap.min.css}">
    </link>
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css"
          th:href="@{/resources/css/bootstrap-theme.min.css}" rel="stylesheet">
    </link>
    <link rel="stylesheet" href="css/bootstrap.vertical-tabs.css"
          th:href="@{/resources/css/bootstrap.vertical-tabs.css}">
    </link>

    <!-- Custom styles for this template -->
    <link href="css/theme1.css" th:href="@{/resources/css/theme1.css}"
          rel="stylesheet">
    </link>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]>
    <script src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>


    <script type="text/javascript" th:inline="javascript">


	function call(process) {
		//showModalPopUp();

        document.functionalmodelform.action = "/add-datagroup-and-attributes?p=" + process;
        document.functionalmodelform.submit();
	}

	function openMyWindow(datagroup, subprocess, process)
	{
	    alert("I am opening something" + datagroup + "::" + subprocess);

        document.functionalmodelform.action = "/select-data-attributes?dg=" + datagroup + "\u0026sp=" + subprocess + "\u0026p=" + process;
        document.functionalmodelform.submit();
	}


    </script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body role="document">

<form name="functionalmodelform" method="post" class="form-horizontal">
    <div class="container">

        <p style="color: red" th:text="*{err != null} ? ${err} : ''"></p>

        <div class="row">
            <div class="col-md-12">
                <h1>Define Functional Model</h1>
            </div>
        </div>

    </div>
    <div class="container">

        <div class="row">
            <div class="col-sm-12">

                <div style="border: #395e8a 1px solid">
                    <div class="col-xs-4" style="padding-right: 0">
                        <!-- required for floating -->
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs tabs-left" th:each="fp : ${sizingCtx.getAllProcesses()}">
                            <li th:class="${param.p !=null ? (#numbers.formatInteger(fp.id,1) == #numbers.formatInteger(param.p[0],1) ? 'active': '') : ''}">
                                <a th:href="${'define-functional-model?p=' + fp.id}" data-toggle="tab" th:text="${fp.name}" th:onclick="'javascript:getFunctionalModelData(\'' +${fp.id} + '\');'"></a>
                            </li>
                        </ul>
                    </div>

                    <input type="hidden" id="option" name="option"> </input> <input type="hidden" id="functionalsubprocessid" name="functionalsubprocessid"> </input>
                    <input type="hidden" id="datagroupname" name="datagroupname"> </input>
                    <input type="hidden" id="functionalmodelid" name="functionalmodelid"> </input>

                    <div class="col-xs-8 bluebg">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="data1" style="">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <div th:if="${param.p != null}">
                                            <div th:each="row,iter : ${sizingCtx.getDataToSubProcessMappingAsGrid(#numbers.formatInteger(param.p[0],1))}">
                                                <div th:if="${iter.first}">
                                                    <thead>
                                                    <tr>
                                                        <th width="40%" th:each="col, colIter : ${row}">
                                                            <div th:text="${row[colIter.index]}"></div>
                                                        </th>
                                                        <th>
                                                            <button type="button" class="btn btn-default"
                                                                    th:onclick="'javascript:call('+ ${#numbers.formatInteger(param.p[0],1)} + ');'">
                                                                +
                                                            </button>
                                                        </th>
                                                    </tr>
                                                    </thead>
                                                </div>
                                                <tbody>
                                                <div th:if="${!iter.first}">

                                                    <tr>
                                                        <th width="40%" th:each="col, colIter : ${row}">
                                                            <div th:if="${colIter.first}" th:text="${row[colIter.index]}"></div>
                                                            <!--<div th:if="${!colIter.first}" th:text="${row[colIter.index].type}" th:onclick="'javascript:openMyWindow(99,5,161);'"></div>-->
                                                            <div th:if="${!colIter.first}" th:text="*{row[colIter.index].type}" th:onclick="'javascript:openMyWindow( ' + ${row[colIter.index].dataGroup.id} + ',' + ${row[colIter.index].subProcess.id} + ','+ ${row[colIter.index].process.id} + ');'"></div>
                                                        </th>
                                                    </tr>

                                                </div>
                                                </tbody>

                                            </div>
                                        </div>

                                        <!--</tr>-->
                                        <!--<tr>-->
                                        <!--<td th:text="${finalScore}"></td>-->
                                        <!--<td th:each="score : ${scores}" th:text="${score.score}"></td>-->
                                        <!--</tr>-->

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>

            </div>

        </div>

    </div>
    <!-- /container -->

</form>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
